name: Check if all required files are UTF-8

on: 
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: read

jobs:
  utf8check:
    uses: Open-Systems-Pharmacology/Workflows/.github/workflows/UTF8Check.yml@main
    with:
      file-extensions: 'md'  #File extension(s) to check separated by \| Examples: R  R\|json
