name: Spellcheck

  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:
 
permissions:
  contents: read

jobs:
  Spellcheck:
    uses: Open-Systems-Pharmacology/Workflows/.github/workflows/SpellChecker.yml@main
